/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

.social-icon {
  width: 20px;
  transition: transform 0.3s ease;
}

.social-icon:hover {
  transform: rotate(360deg);
}

body {
  scroll-behavior: smooth;
}
